.devcontainer/
.vscode/
.git/
.gitignore
.dockerignore
.github/
/.vscode/
/.devcontainer/
/build/Dockerfile
local/
/tools/
/dist/
Makefile
docs/
.DS_Store
/internal/host/
/internal/disk/
/internal/plist/
/cli/
/cmd/
/configs/
/scripts/
/test/
/build/*.go
*.md
*.zsh
*.plist
docker-bake.*
